:root {
    /* CSS Variables */
    --color-background: rgb(28, 28, 28);
    --color-header: #000000;
    --color-nav-links: rgb(228, 228, 228);
    --color-nav-links-hover: rgb(184, 139, 44);
    --color-presentation:rgba(14, 14, 14, .6);
    --orange-text: rgb(219, 167, 54);
    --section-padding-top: 75px;

    font-size: 62.5%; /* 10px */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--color-background);
    color: #F2F2F2;
}

.logo img {
    width: 90px;
}

/* intro */
.hello-world {
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 80vh;
    height: 97vh;

    background-image: url(/images/bg-computer-2-min.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; /* efeito parallax */
    width: auto;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
    background-color: var(--color-presentation);
    border-radius: 10px;
}

.presentation h2 {
    font-size: 3.6em;
    font-weight: 600;
    color: var(--orange-text);
}

.presentation h1 {
    font-size: 6em;
    font-weight: 800;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 1;
}

.presentation h1 p {
    color: var(--orange-text);
}

.presentation h3 {
    font-size: 2.4em;
    font-weight: 500;
    letter-spacing: 1px;
}
/* section about me*/
.about-me {
    padding: 20px 20px 0 20px;
    padding-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(28, 28, 28);
}

.profile-photo img {
    border-radius: 50%;
    margin-top: 10px;
    -webkit-box-shadow: 0 0 15px 5px rgba(245,245,245,0.26); 
    box-shadow: 0 0 15px 2px rgba(245, 245, 245, .18);
}

.section-title {
    color: var(--orange-text);
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

.text p {
    letter-spacing: 1.6px;
    font-size: 1.8em;
}

.resume {
    display: flex;
    justify-content: center;
}
.download {
    margin: 0 auto;
}
.download, .download:visited {
    height: auto;
    font-weight: 500;
    font-size: 2em;
    padding: 8px 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 2.4px solid var(--color-nav-links);
    text-decoration: none;
    color: #F5F5F5;
}

.download:hover {
    transition: .6s;
    background-color: #F5F5F5;
    color: #010101;
}

.download:active {
    background-color: #F5F5F5;
    color: rgb(33, 77, 224);
}

.social-media a {
    font-size: 36px;
}

.social-media a, .social-media a:visited {
    color: #FFF;
    text-decoration: none;
}

.social-media a:hover {
    transition: .2s;
    color: #b0b0b0;
}

.social-media {
    text-align: center;
}

.social-margin {
    margin-right: 40px;
}

/* skills section */
.skills {
    background-color: rgb(28, 28, 28);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills h2 {
    padding-top: var(--section-padding-top);
}

.skill-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
    margin-right: 5px;
    margin-bottom: 5px;
}

.skill-box h3 {
    font-size: 1.6em;
    font-weight: 600;
}

/* projects section */
.projects h2{
    padding-top: var(--section-padding-top);
}

/* education section */
.education {
    padding: 20px 20px 0 20px;
}

.education h2 {
    padding-top: var(--section-padding-top);
}

.education .phrase p {
    font-size: 1.6em;
    font-style: italic;
}

.education .phrase p:nth-child(2) {
    text-align: right;
}
.academic-education h3 {
    font-size: 1.9em;
    padding-top: 10px;
    color: var(--orange-text);
    border-bottom: 1px solid var(--orange-text);
    margin-bottom: 5px;
}
.academic-education div h4 {
    font-size: 1.8em;
}

.academic-education div span {
    font-size: 1.4em;
    font-style: italic;
}

.academic-education div p {
    font-size: 1.6em;
    padding-top: 3px;
}

/* contact section */
.contact {
    padding: 40px 20px 0 20px;
    margin-bottom: 40px;
}

.contact p {
    font-size: 1.4em;
    font-weight: 600;
    text-align: center;
    color: #c9c9c9;
}

.contact p.contact-text {
    font-size: 1.8em;
    margin: 25px 0 0 0;
    
}

.contact a.email {
    color: #F2F2F2;
    font-size: 1.4em;
    text-decoration: none;
    font-weight: 700;
    text-shadow: 2px 1px 4px rgba(95, 95, 95, .6);
}

.contact .social-media {
    padding-top: 10px;
}

.contact .fa-linkedin, .contact .fa-github {
    font-size: 1.2em;
}

/* formulario */
.label-div {
    display: flex;
    flex-direction: column;
}

.label-div label {
    font-size: 1.6em;
    margin: 13px 0 7px 0;
}

.label-div label input {
    font-size: 1.1em;
}

.label-div input, .label-div textarea {
    width: 100%;
    outline: none;
    padding-left: 10px;
    border-radius: 10px;
    border: .13em solid var(--orange-text);
    background-color: transparent;
    font-size: 1.6em;
    color: #F2F2F2;
}

.label-div input {
    height: 40px;
}

.label-div input:focus, .label-div textarea:focus {
    transition: .4s;
    border-color: rgb(38, 115, 231);
}

.label-div textarea {
    padding-top: 10px;
    font-size: 1em;
    font-size: 1.6em;
}

.contact .submit-button {
    margin: 10px 0 5px 0;
    outline: none;
    padding: 15px 0;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    background-color: var(--orange-text);
    border: none;
    border-radius: 10px;
}

/* footer */
.footer {
    position: absolute;
    width: 100%;
    background-color: rgb(15, 15, 15);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 8px 0;
}

.footer-text {
    font-size: 1.6em;
}

.fa-heart {
    color: rgb(240, 25, 25);
}

.footer-text a, .footer-text a:visited {
    color: #F2F2F2;
}

.footer-copyright {
    font-size: 1.4em;
}

/* desktop version */
@media (min-width: 1024px) {
    .logo img {
        margin-right: 15px;
    }

    .about-me {
        flex-direction: row;
        padding: 15px 35px 0 35px;
    }

    .about-me .text p {
        font-size: 1.6em;
    }

    .profile-photo img {
        margin-right: 20px;
    }

    .section-title {
        font-size: 3.2em;
    }

    .academic-education {
        margin: 0 35px 0 35px;
        /* padding: 0 35px 0 35px; */
        display: flex;
    }

    .academic-education div {
        width: 30vw;
        margin: 0 10px 0 10px;
        padding: 0 10px 10px 10px;
        background-color:rgb(50, 50, 50);
        border-radius: 10px;
    }

    .academic-education div:hover {
        transition: .8s;
        transform: scale(1.03);
    }

    .education .phrase {
        width: 50vw;
        padding-bottom: 10px;
        margin: 0 auto;
    }

    .skill-box {
        width: 20vw;
    }

    .skills h2, .education h2 {
        padding-top: 50px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .label-div input, .label-div textarea {
        width: 50vw;
    }

    .label-div input#phoneInput {
        width: 30vw;
    }
}