header {
   width: 100%;
   background-color: rgb(15, 15, 15);
   position: fixed;
   top: 0;
   z-index: 999;
}

.navbar {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.logo {
    width: 50px;
}

.burger-icon {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    position: relative;
    cursor: pointer;
    display: none;
}

.burger-icon::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 15%;
    
    width: 75%;
    height: 6%;
    border-radius: 5px;
    background-color: #fafafa;
}

.burger-icon::before {
    content: "";
    position: absolute;
    top: 55%;
    right: 15%;
    
    width: 55%;
    height: 6%;
    border-radius: 5px;
    background-color: #fafafa;
}
.menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu li {
    margin-left: 5px;
}

.menu li a, .menu li a:visited {
    font-size: 1.7em;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-nav-links);
    display: block;
    padding: 10px 15px;
    transition: .5s ease;
}

.menu li:nth-child(5) {
    margin-left: 0;
}

.menu li a:hover {
    color: var(--color-nav-links-hover);
}

@media screen and (max-width: 924px) {
    .burger-icon {
        display: block;
        z-index: 999;
    }
    .menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        margin: 0;
        background-color: #222;
        flex-direction: column;
        width: 100%;
        max-width: 250px;
        padding:  100px 20px;
        transition: .6s ease;
    }

    .menu.active {
        right: -100%;
    }
}