:root {
  /* CSS Variables */
  --background-color: rgb(34, 34, 34);
  --color-header: #000000;
  --color-nav-links: rgb(212, 212, 212);
  --color-nav-links-hover: rgb(146, 49, 206);
  --nav-links-font-size: 18px;
  --purple-text: rgb(185, 105, 234);
  --blue-heading: #3192b9;
  --light-text: #d2d2d2;
  --dark-gray: rgb(50, 50, 50);
  --darker-gray: rgb(15, 15, 15);
  --default-border-radius: 10px;
  --default-desktop-screen-width: 1440px;
  --default-text-size: 20px;

  font-family: 'Work sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: #f2f2f2;
}

a,
a:visited {
  color: inherit;
}

section {
  padding: 16px 32px;
  max-width: var(--default-desktop-screen-width);
  margin: 0 auto;
  padding-top: 80px;
  font-size: var(--default-text-size);
}

section h2,
section h3,
section h4,
section h5,
section h6 {
  color: var(--blue-heading);
  line-height: 1.5;
  font-weight: 600;
}

strong {
  font-weight: 600;
}

p {
  line-height: 1.4;
}

.section-title {
  color: var(--purple-text);
}

@font-face {
  font-family: 'Droid Sans Mono';
  src: url(./../assets/fonts/droid-sans-mono/DroidSansMono.ttf);
}
